.buttonProducto{
  grid-area: buttonProducto;
}
.buttonPrecio{
  grid-area: buttonPrecio;
}
.campoIdPrecio{
  grid-area: campoIdPrecio;
} 
.switch{
  grid-area: switch;
}
.id{
  grid-area: id;
}
.cardImagen{
  grid-area: cardImagen;
}
.campoIdProducto{
  grid-area: campoIdProducto;
}

  .cardDivEdition{
    display: grid;
    grid-template-areas: 
    "switch id"
    "cardImagen cardImagen"
    "campoIdProducto buttonProducto"
    "campoIdPrecio buttonPrecio";
    border-radius: 25px;
    border: 1px solid blue;
  }
/* 
.cardImagen{
    grid-area: cardImagen;
}

.cardContainer{
    grid-area: cardContainer;
} */

.div-container .cardDivEdition .cardImagen img {
    width: 250px;
}

.div-container{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 10px;
}