.foto{
    grid-area: foto;
}

.total{
    grid-area: total;
}

.cantidad{
  grid-area: cantidad;
}

.botones{
  grid-area: botones;
}

.labelprecio{
  grid-area: labelprecio;
}

.labelcantidad{
  grid-area: labelcantidad;
}

.labeldescripcion{
  grid-area: labeldescripcion;
}

.labelacciones{
  grid-area: labelacciones;
}

.labelarticulo{
  grid-area: labelarticulo;
}

hr.new5 {
  border: 5px solid #D358F7;
  border-radius: 5px;
}

.carrito{
  display: grid;
  grid-template-areas: 
  "foto cantidad total descripcion botones";
padding-top: 5px;
    -webkit-box-shadow: 3px 4px 33px 0px#D358F7;
    -moz-box-shadow: 3px 4px 33px 0px#D358F7;
    box-shadow: 3px 4px 33px 0px#D358F7;
  
}

.carritoheader{
  display: grid;
  grid-template-areas: 
  "labelarticulo labelcantidad labelprecio labeldescripcion labelacciones";  
  -webkit-box-shadow: 3px 4px 33px 0px#D358F7;
  -moz-box-shadow: 3px 4px 33px 0px#D358F7;
  box-shadow: 3px 4px 33px 0px#D358F7;
}