.imagenes{
    grid-area: imagenes;
  }
  .aval{
    grid-area: aval;
  }
  .solicitante{
    grid-area: solicitante;
  }
  .estatus{
    grid-area: status;
  }
  
 .prospecto{
    display: grid;
    grid-template-areas: 
    "status solicitante aval imagenes";
    border-radius: 25px;
    border: 1px solid purple;
}

.prospecto img{
    width: 10%;
}
  
//   .div-container .cardDivEdition .cardImagen img {
//       width: 250px;
//   }
  
//   .div-container{
//     display: grid;
//     grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
//     grid-gap: 10px;
//   }