.imagenes {
  grid-area: imagenes;
}
.aval {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: aval;
}
.solicitante {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: solicitante;
}
.prospecto {
  display: grid;
  grid-template-areas: "solicitante aval";
  border-radius: 25px;
  border: 1px solid blue;
  background-color: red;
}
