* {
  box-sizing: border-box;
}
body {
  margin: 0px;
}
.div--principal {
  display: grid;
  grid-template-areas: "imagen listas" "boton boton";
  position: absolute;
  top: 50%;
  /* Buscamos el centro horizontal (relativo) del navegador */
  left: 50%;
  /* Buscamos el centro vertical (relativo) del navegador */
  width: 600 px;
  /* Definimos el ancho del objeto a centrar */
  height: 400px;
  /* Definimos el alto del objeto a centrar */
  margin-top: -200px;
  /* Restamos la mitad de la altura del objeto con un margin-top */
  margin-left: -300px;
  /* Restamos la mitad de la anchura del objeto con un margin-left */
}
.div--principal ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.div--principal li {
  font: 200 20px/1.5 Helvetica, Verdana, sans-serif;
  border-bottom: 1px solid #ccc;
}
.div--principal li:last-child {
  border: none;
}
.div--principal .imagen {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: imagen;
  background-color: #D358F7;
}
.div--principal .boton {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: boton;
  background-color: #0066CC;
  max-width: 100%;
  display: flex;
  align-items: center;
}
.div--principal .listas {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: listas;
  background-color: #D35000;
  max-width: 320px;
}
.div--principal img {
  max-width: 320px;
}
.boton {
  display: inline-block;
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 100%;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}
.boton span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.boton span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.boton:hover span {
  padding-right: 25px;
}
.boton:hover span:after {
  opacity: 1;
  right: 0;
}
