*{
    box-sizing: border-box;
}
body{
    margin: 0px;
}


.div--principal{
    display: grid;
    // grid-template-columns: 320px 320px;
    // grid-template-rows: 100px 100px;
    grid-template-areas: 
      "imagen listas"
      "boton boton";    
      
      position: absolute;
      top: 50%; /* Buscamos el centro horizontal (relativo) del navegador */
      left: 50%; /* Buscamos el centro vertical (relativo) del navegador */
      width: 600 px; /* Definimos el ancho del objeto a centrar */
      height: 400px; /* Definimos el alto del objeto a centrar */
      margin-top: -200px; /* Restamos la mitad de la altura del objeto con un margin-top */
      margin-left: -300px; /* Restamos la mitad de la anchura del objeto con un margin-left */      

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
      }
      
    li {
    font: 200 20px/1.5 Helvetica, Verdana, sans-serif;
    border-bottom: 1px solid #ccc;
    }
    
    li:last-child {
    border: none;
    }

    .imagen {
        grid-area: imagen;
        background-color: #D358F7;
      }
    .boton {
    grid-area: boton;
    background-color: #0066CC;
    max-width: 100%;
    display: flex;
    align-items: center;
    }
    .listas {
    grid-area: listas;
    background-color: #D35000;
    max-width: 320px;
    }
    img{
        max-width: 320px;;
    }
}